[submodule "orangepi_zero_gpio"]
	path = orangepi_zero_gpio
	url = https://github.com/nvl1109/orangepi_zero_gpio
[submodule "DHT11-DHT22-Python-library-Orange-PI"]
	path = DHT11-DHT22-Python-library-Orange-PI
	url = https://github.com/jingl3s/DHT11-DHT22-Python-library-Orange-PI
